.appName{
    color: #EA2427
}

.textError{
    color: #EA2427
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.loginBtn{
    background-color:#007ACC; 
    border-color: #007ACC
}

.welcomeTxt {
    color: #007ACC; 
    width: 110%; 
    background-color: seashell; 
    font-weight: bolder
}

.loginLogo{
    width: 20%; 
    height: 20%; 
    margin-left:45%; 
    margin-top: 183px; 
    position: relative;
}   


.logoPush{
    margin-top: 20px;
}