.mtn{
    background: url('../../checkout/mtn.jpg')
}

.vodafone{
    background: url('../../checkout/vodafone.png')
}

.airtelTigo{
    background: url('../../checkout/airteltigo.jpg')
}

.glo{
    background: url('../../checkout/glo.jpg')
}